VITE_PUBLIC_KEY = public_key_id
VITE_SERVICE_ID = service_id
VITE_TEMPLATE_ADMIN = template_admin_id
VITE_TEMPLATE_USER = template_user_id
VITE_ADMIN_EMAIL = admin_email

VITE_MONGODB_COLLECTION = collection_name

# May or may not work depending on your MongoDB setup
VITE_MONGODB_URI = mongodb+srv://<username>:<password>@<your-cluster-url>/test?retryWrites=true&w=majority